.article-header {
  position: relative;
  aspect-ratio: 1130/450;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  @include media-breakpoint-down(lg) {
    min-height: 260px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      var(--color-dark) 100%
    );
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tag {
    position: absolute;
    top: 28px;
    left: 36px;
    @include media-breakpoint-down(lg) {
      left: 24px;
      top: 16px;
    }
  }
  &__content {
    position: absolute;
    padding-inline: 36px;
    bottom: 28px;
    color: var(--color-white);
    @include media-breakpoint-down(lg) {
      padding-inline: 24px;
    }
  }
}

.article-section {
  margin-bottom: 40px;
  .o-content a {
    color: var(--color-primary);
    transition: text-decoration-color 0.3s, color 0.3s;
    &:hover {
      color: var(--color-dark);
    }
  }
}
