.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  .row p:last-child {
    margin-bottom: 0;
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  blockquote p:first-child {
    margin-bottom: 0;
  }
  blockquote {
    margin-bottom: 32px;
  }
  a {
    color: var(--color-primary);
    transition: text-decoration-color 0.3s, color 0.3s;
    &:hover {
      color: var(--color-dark);
    }
  }
  p {
    margin-bottom: 1.5rem;
  }
  h1 {
    margin-bottom: 32px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
  }
  h2 {
    margin-bottom: 24px;
    margin-top: 40px;
    @include media-breakpoint-down(lg) {
      margin-top: 32px;
    }
  }
  h3 {
    margin-bottom: 24px;
  }
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }

  p img {
    margin: 0 auto;
  }
  ul {
    margin: 24px 0;

    > li {
      position: relative;
      padding-left: 36px;

      align-items: center;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      @include media-breakpoint-down(lg) {
        margin-bottom: 8px;
      }
      &::before {
        content: "";
        background-color: var(--color-primary);
        position: absolute;
        left: 12px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        align-self: center;
      }
    }
  }
  ol {
    margin: 24px 0;

    counter-reset: item;
    > li {
      counter-increment: item;
      position: relative;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      @include media-breakpoint-down(lg) {
        margin-bottom: 8px;
      }
      &::before {
        content: counter(item) ".";
        font-size: 16px;
        margin-right: 8px;
      }
    }
  }
}
