.topAlert {
  background: var(--color-dark);
  color: var(--color-white);

  &__inner {
    min-height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 56px;

    @include media-breakpoint-down(md) {
      min-height: 76px;
      padding: 14px 50px 14px 20px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 1.4;
    text-align: center;

    @include media-breakpoint-down(md) {
      line-height: 1.35;
    }

    a {
      color: var(--color-primary);
      font-weight: 700;
      text-decoration: transparent;

      &:hover {
        text-decoration-color: inherit;
      }
    }
  }

  &__close {
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    background: transparent;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;

    @include media-breakpoint-down(md) {
      right: 0;
    }

    span {
      width: 20px;
      height: 2px;
      background: var(--color-white);
      position: absolute;
      top: 50%;
      left: 50%;

      &:first-child {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:last-child {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}
