.partners-section {
}
.partnerItem {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 300/200;
  background-color: var(--color-white);
  img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
}
