.footer {
  color: var(--color-white);

  &-logo {
    width: 94px;
    height: 124px;
    display: block;
    @include media-breakpoint-up(xl) {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.footer__links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include media-breakpoint-down(xl) {
    justify-content: center;
  }
  a {
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-weight: 700;
  }
  a:not(:last-child) {
    padding-right: 16px;
    margin-right: 16px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      width: 2px;
      height: 18px;
      background-color: var(--color-white);
    }
  }
}

.footerTop {
  background-color: var(--color-dark-lighter);
  padding: 32px 0;
}
.footerBottom {
  background-color: var(--color-primary);
  padding: 48px 0 60px;
  position: relative;
  @include media-breakpoint-down(xl) {
    padding: 40px 0;
  }
}
