:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "SKS1892", sans-serif;

  --color-primary: #ea2c22;
  --color-white: #fff;
  --color-black: #000;

  --color-dark: #1b1f27;
  --color-dark-lighter: #323846;

  --color-light: #d9d9d9;
  --color-light-lighter: #f6f6f6;
}
